@import "tailwindcss";

@theme inline {
  --font-barlowCondensed: "Barlow Condensed", sans-serif;
  --font-barlow: "Barlow", sans-serif;

  --color-Red: hsl(0, 100%, 68%);
  --color-Red-400: hsl(0, 100%, 76%);
  --color-Very-Dark-Blue: hsl(230, 29%, 20%);
  --color-Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --color-Grayish-Blue: hsl(231, 7%, 65%);
  /* Shape */
  --color-Light-Grayish-Blue: hsl(207, 33%, 95%);
  
}

ul li:is(:hover, :focus-visible) {
  @apply underline 
}

body {
  @apply before:content-[''] before:absolute before:right-0 before:top-0 lg:before:w-[50vw] lg:before:h-[50vh] lg:before:rounded-bl-3xl before:bg-Light-Grayish-Blue before:-z-1
  max-md:before:w-[55vw] max-md:before:h-[48vh] max-md:before:rounded-bl-[6rem]
  md:before:w-[55vw] md:before:h-[25vh] md:before:rounded-bl-[3rem]
}
